*{
    font-family: 'Pacifico', cursive;
}

body{
    background-color: antiquewhite;
}

.nav{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.login-form{
    width: 100%;
    max-width: 600px;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-form-label{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    font-family: 'Pacifico', cursive;
}

.btn-primary{
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

footer{
    position: relative;
    justify-content: center;
}

.copyright{
    background-color: silver;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 5em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: -25%;
    left:0;
    right:0;
    bottom: 50%;
    padding-top: 2em;
}

p{
    text-align: center;
}